.fondo1 {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(173,173,218,1) 85%, rgba(127,183,228,1) 89%, rgba(104,188,233,1) 91%, rgba(87,199,244,1) 93%, rgba(0,212,255,1) 100%);
}

.fondo2{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,25,105,1) 15%, rgba(104,188,233,1) 41%, rgba(127,153,228,1) 89%, rgba(17,132,179,1) 93%, rgba(50,249,207,1) 96%, rgba(0,212,255,1) 100%);
}
.centrado{
    text-align:  center;
    border: 2px solid blueviolet;
}